{% load static%}

<link rel = "stylesheet" href = "{% static 'css/services.css'%}">

<div class = "heading">

<hr>  <h2>Services</h2><hr>

<div class="card">
    <img src="{% static 'images/ambulance.png' %}" style="width:100%">
    <div class="container">
      <h4><b>24 Hr Ambulance Service</b></h4> 
    </div>
  </div>

  <div class="card">
    <img src="{% static 'images/blood checkup.png' %}" style="width:100%; height: 50%;">
    <div class="container">
      <h4><b>Free Blood Check</b></h4> 
    </div>
  </div>

  <div class="card">
    <img src="{% static 'images/Member.png' %}" style="align-items:center;width: 75%">
    <div class="container">
      <h4><b>Half Discount for Members</b></h4> 
    </div>
  </div>
  
</div>